@model TabGıda.Models.User
<div class="form-group">
    <label asp-for="CompanyId" class="control-label"></label>
    <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.Companies"></select>
</div>